<h2 class="mb-3">{{isEdit? 'Edit Post' : 'Add Post'}} </h2>
<div class="card card-body mb-3">
    <form #postForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="hidden" class="form-control" #postId="ngModel" [ngModel]="selectedPost.id" name="id">
        </div>
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" #postTitle="ngModel" [ngModel]="selectedPost.title" name="title" [ngClass]="{'is-invalid': postTitle.errors && (postTitle.touched || postTitle.dirty)}" required minlength="2">
            <p class="invalid-feedback" [hidden]="!postTitle.errors?.required">Post title is required</p>
            <p class="invalid-feedback" [hidden]="!postTitle.errors?.minlength">Must be at least 2 characters</p>
        </div>
        <div class="form-group">
            <label>Body</label>
            <textarea type="text" class="form-control" #postBody="ngModel" [ngModel]="selectedPost.body" name="body" [ngClass]="{'is-invalid': postBody.errors && (postBody.touched || postBody.dirty)}" required minlength="2"></textarea>
            <p class="invalid-feedback" [hidden]="!postBody.errors?.required">Post body is required</p>
            <p class="invalid-feedback" [hidden]="!postBody.errors?.minlength">Must be at least 2 characters</p>
        </div>
        <button class="btn btn-primary" *ngIf="!isEdit" type="submit">Add New Post</button>
        <div *ngIf="isEdit">
            <button class="btn btn-light mr-3" type="button" (click)="clearForm()">Clear</button>
            <button class="btn btn-warning" type="button" (click)="editPost()">Submit</button>
        </div>
    </form>
</div>