<h2 class="mb-3">{{isNew ? 'Add Log' : 'Update Log'}}</h2>
<form class="card card-body form-group" #logForm="ngForm" (ngSubmit)="onSubmit()">
    <input
        type="text"
        class="form-control mb-3"
        placeholder="Add a log"
        #logTitle="ngModel"
        [(ngModel)]="log.title"
        name="title"
        [ngClass]="{'is-invalid': logTitle?.errors && logTitle.touched}"
        required
        minlength="2"
    >
    <p [hidden]="!logTitle.errors?.required" class="invalid-feedback">Required field</p>
    <p [hidden]="!logTitle.errors?.minlength" class="invalid-feedback">Must be at least 2 characters</p>
    <button class="btn btn-block btn-primary" type="submit" [disabled]="!logForm.form.valid">Submit</button>
</form>